.button.white-hollow {
  border: 1px solid #fefefe;
  color: #fefefe;
  background-color: transparent;
  transition: border 0.5s ease;
}

.button.white-hollow:hover,
.button.white-hollow:active,
.button.white-hollow:focus {
  border: 1px solid #b2b2b2;
  transition: border 0.5s ease;
}
