.button.white-hollow {
  border: 1px solid #fefefe;
  color: #fefefe;
  background-color: transparent;
  transition: border 0.5s ease;
}

.button.white-hollow:hover,
.button.white-hollow:active,
.button.white-hollow:focus {
  border: 1px solid #b2b2b2;
  transition: border 0.5s ease;
}

.multi-step-checkout-process-step {
  margin-top: 20px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 39.9375em) {
  .multi-step-checkout-process-step {
    padding-right: 0rem;
  }
}

.multi-step-checkout-process .accordion-title {
  color: #3e3e3e;
  font-size: 1.25rem;
  transition: color 0.5s ease;
  border: none;
  font-family: "Droid serif", serif;
}

.multi-step-checkout-process .accordion-title:hover,
.multi-step-checkout-process .accordion-title:active,
.multi-step-checkout-process .accordion-title:focus {
  color: #242424;
  transition: color 0.5s ease;
  background: none;
}

.multi-step-checkout-process :last-child:not(.is-active) > .accordion-title {
  border: none;
}

.multi-step-checkout-process .accordion-item {
  border-bottom: 1px solid #e6e6e6;
  padding-right: 0.8rem;
}

.multi-step-checkout-process .accordion-item:first-child() {
  border-top: 1px solid #e6e6e6;
}

.multi-step-checkout-process .accordion-item.is-active {
  border: 1px solid #e6e6e6;
  border-top: 3px solid #1779ba;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.multi-step-checkout-process .accordion-item .accordion-title {
  font-weight: 400;
}

.multi-step-checkout-process .accordion-item .accordion-title::before {
  right: 0.5rem;
}

.multi-step-checkout-process .accordion-content {
  border: none;
  padding-left: 35px;
}

.multi-step-checkout-process :last-child > .accordion-content:last-child {
  border-bottom: none;
}

.multi-step-checkout-step-title-subheader {
  color: #a4a4a4;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 10px;
  font-family: "Open sans", serif;
}

.multi-step-checkout-step-subheader {
  color: #3e3e3e;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}

.multi-step-checkout-step-subdesc {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.multi-step-checkout-step-section {
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.multi-step-checkout-shipping-cost {
  text-align: right;
}

.multi-step-checkout-form-divider {
  border-bottom: 1px dashed #e6e6e6;
}

.multi-step-checkout-form input {
  background: #f8f8f8;
}

.multi-step-checkout-credit-card-info label span {
  color: #a4a4a4;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.field {
  border-radius: 30px;
  border: 1px solid #111111;
  opacity: 0.5;
  transition: all ease 0.4s;
  color: #111111;
}
.sign-in-form {
  padding: 3rem 4.5em;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

.sign-in-form h4 {
  color: #111111;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #111111;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input:focus {
  opacity: 0.8;
}
.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #111111;
  color: #111111;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease 0.4s;
  margin-top: 20px;
}

.sign-in-form-button:hover {
  background-color: #111111;
  color: #f5f5f5;
}
.popup-content {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  height: 650px;
  width: 40%;
}
.close {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 5px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
